<section class="container" *ngIf="mostrar">
    <div class="search-result-container">
						
        <div class="form-divider"></div>
        <h4 class="font-bold font-redlgc text-center">Noticias <a target="_blank" href="https://mundoinmobiliario.tv">Mundoinmobiliario.tv</a> </h4>
        <div class="form-divider"></div>

        <div *ngFor="let noticia of noticias" class="">
          <div class="news-list-item bordesRedondeados20" routerLink="{{noticia.url}}" >
            <div class="list-image ">
              <img class='leftbordeRedondeado20' src="{{noticia.image}}?v=1.1" alt="" width="100" height="100">
            </div>
            <div class="list-content">
              <span class="list-category {{noticia.color}}">{{noticia.etiqueta}}</span>
              <h2 class="list-title"><a href="javascript:void(0)" routerLink="{{noticia.url}}">{{noticia.titulo}}</a></h2>
              <!-- <a href="javascript:void(0)" class="list-author">{{noticia.autor}}</a> - --> <div class="form-mini-divider" ></div>
               <span class="list-time" style="float:right;">{{noticia.fecha}}</span>
              
          
            </div>
          </div>
          
          <div class="form-mini-divider" ></div>
        </div>

      

    </div>

  <!--<h4 class="font-bold text-center">Noticias del Mundo Inmobiliario</h4>
  <ul class="transaction-list list-unstyled">
    
    <li>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img class="img-xs" src="assets/img/content/coin1.png" alt="coin image">
          <div class="ml-10">
            <h4 class="coin-name">Bitcoin</h4>
            <small class="text-muted">08-24 <span class="ml-10">20.04PM</span></small>
          </div>
        </div>
        <div>
          <small class="d-block mb-0 txt-green">+0.94853</small>
          <small class="text-muted d-block">$2,748.94</small>
        </div>
      </div>
    </li>
   
  </ul>-->
</section>