	

  <div class="wrapper ">
      
    <div class="wrapper-inline" (scroll)="doSomethingOnScroll($event)">
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

          <div class="dash-balance">
            <div class="dash-content relative">
              <h3 class="w-text">Calcular Protección</h3>
           
            </div>
          </div>

          <section class="bal-section container">
              <div style="margin:auto" align="center"> <img src="assets/img/logo.png" alt=""></div><br>
           
         
          </section>
       
        
          <section class="container">
            	<div class="form-row-group with-icons">
                  <div class="form-row no-padding">
                      <i class="fa fa-file-text-o"></i>
                      <select class="form-element">
                        <option value="">Tipo de Proteccion</option>
                        <option value="2">Básica</option>
                        <option value="1">Total</option>
                        
                      </select>
                  </div>
                  <div class="form-row no-padding">
                      <i class="fa fa-clock-o"></i>
                      <select class="form-element">
                        <option value="">Vigencia</option>
                        <option value="1">1 Año</option>
                        <option value="2">2 Años</option>
                        <option value="3">3 Años</option>
                        <option value="4">4 Años</option>
                        <option value="5">5 Años</option>
                      </select>
                  </div>
                  <div class="form-row no-padding">
                    <i class="fa fa-money"></i>
                    <input type="text" name="aaa" class="form-element" placeholder="Renta Mensual">
                  </div>
                
                
                
              </div>


              <div class="content"> 
                <!-- <h4 class="title-main">Balance Split</h4> -->
              <div class="c-panel">
                
                  <div class="form-row"  align="center">
          
                      <a style="text-align: center;background: linear-gradient(36deg, rgba(88,17,15,1) 0%, rgba(150,16,13,1) 59%, rgba(150,16,13,1) 100%);color:white" href="Javascript:void(0);" (click)="calcular()"  class="button circle inline block">Calcular</a>
                    
                  </div>
        
              </div>
            </div>
          </section>

     

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

