	

  <div class="wrapper ">
      
    <div class="wrapper-inline" >
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

          
       
     
          <section class="container">
                <h4 class="title-main">Enviar un correo electronico. Todos los campos con * son obligatorios</h4>
                <div class="form-row-group with-icons">
                    <div class="form-row no-padding">
                        <i class="fa fa-user"></i>
                        <input type="text" id="nombre" name="aaa" class="form-element" required placeholder="Nombre *" value="">
                    </div>
                    <div class="form-row no-padding">
                            <i class="fa fa-phone"></i>
                            <input type="text" id="telefono" name="aaa" class="form-element" required placeholder="Teléfono *" value="">
                    </div>
                    <div class="form-row no-padding">
                        <i class="fa fa-envelope"></i>
                        <input type="email" id="email" name="aaa" class="form-element" required placeholder="Email *" value="">
                    </div>
                    <div class="form-row no-padding">
                            <i class="fa fa-comment"></i>
                            <textarea  name="aaa" class="form-element" required id="sugerencia" cols="50" rows="10" placeholder="Sugerencia *"></textarea>
                          
                    </div>
                 
                </div>
                <div class="form-divider"></div>
                <div class="form-divider"></div>
                <div class="form-row">
                    <a style="text-align: center;background: linear-gradient(36deg, rgba(88,17,15,1) 0%, rgba(150,16,13,1) 59%, rgba(150,16,13,1) 100%);color:white" href="Javascript:void(0);" (click)="enviarSugerencia()" class="button circle block">Enviar Sugerencia</a>
                </div>

          </section>      
          <div class="form-divider"></div>
          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

