	

  <div class="wrapper ">
      
    <div class="wrapper-inline">
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

        

       
        
     
          <section class="container">
               
            <div class="form-divider"></div>
            <div class="form-label-divider"><span class="back font-redlgc">Solicitar Cálculo de ISR</span></div>
            <div class="form-divider"></div>
      
            
            <div class="form-row-group with-icons">
              
             
                <h4 class="title-main font-16 font-bold ">Nombre Solicitante</h4>
           
                <div class="form-row no-padding">
                    <i class="fa fa-user"></i>
                    <input type="text" id="nombre_solicitante_isr" name="nombre_solicitante" class="form-element" required placeholder="Nombre Solicitante" value="">
                </div>
              
                <h4 class="title-main font-16 font-bold ">Inmobiliaria</h4>
              
             
                <div class="form-row no-padding">
                    <i class="fa fa-building-o"></i>
                    <input type="text" id="inmobiliaria_solicitante_isr" name="inmobiliaria_solicitante" class="form-element" required placeholder="Inmobiliaria" value="">
                </div>
              
                <h4 class="title-main font-16 font-bold ">Email</h4>
              
                <div class="form-row no-padding">
                    <i class="fa fa-envelope"></i>
                    <input type="text" id="email_solicitante_isr" name="email_solicitante" class="form-element" required placeholder="Email" value="">
                </div>
          
                <h4 class="title-main font-16 font-bold ">Teléfono</h4>
            
                <div class="form-row no-padding">
                    <i class="fa fa-phone"></i>
                    <input type="text" id="telefono_solicitante_isr" name="telefono_solicitante" class="form-element" required placeholder="Teléfono" value="">
                </div>
          
                <h4 class="title-main font-16 font-bold ">Precio de Venta</h4>
           
                <div class="form-row no-padding">
                    <i class="fa fa-money"></i>
                    <input type="text" id="precio_venta_isr" name="precio_venta" class="form-element" required placeholder="Precio Venta" value="">
                </div>
             
                <h4 class="title-main font-16 font-bold ">Fecha de Venta</h4>
               
                <div class="form-row no-padding">
                    <i class="fa fa-calendar"></i>
                    <input style="width: 100%"  type="date" id="fecha_venta_isr" name="fecha_venta" class="form-element" required  [value]="fechaVent">
                </div>
             
                <h4 class="title-main font-16 font-bold ">Precio Adjudicación</h4>
             
                <div class="form-row no-padding">
                  
                    <i class="fa fa-money"></i>
                    <input type="text" id="precio_adjudicacion_isr" name="precio_adjudicacion" class="form-element" required placeholder="Precio de Adjudicación" value="">
                </div>
             
                <h4 class="title-main font-16 font-bold ">Fecha de Adjudicación</h4>
              
                <div class="form-row no-padding">
                    <i class="fa fa-calendar"></i>
                    <input type="date" style="width: 100%"  id="fecha_adjudicacion_isr" name="fecha_adjudicacion" class="form-element" required  [value]="fechaAdj">
                </div>
            
                <h4 class="title-main font-16 font-bold ">Numero de Propietarios</h4>
               
             
                <div class="form-row no-padding">
                    <i class="fa fa-users"></i>
                    <input type="text" id="numero_propietarios_isr" name="numero_propietarios" class="form-element" required placeholder="Nº de Propietarios" value="">
                </div>
             
                <h4 class="title-main font-16 font-bold ">Propietarios en Sociedad Conyugal</h4>
             
                <div class="form-row no-padding">
                    <i class="fa fa-users"></i>
                    <input type="text" id="numero_propietarios_conyugal_isr" name="numero_propietarios_conyugal" class="form-element" required placeholder="Nº en Sociedad Conyugal" value="">
                </div>
             
                <h4 class="title-main font-16 font-bold ">Propietarios Exentos de ISR</h4>
               
                <div class="form-row no-padding">
                    <i class="fa fa-users"></i>
                    <input type="text" id="numero_propietarios_exentan_isr" name="numero_propietarios_exentan" class="form-element" required placeholder="Nº que exentan ISR" value="">
                </div>
            </div>
            
            <div class="form-divider"></div>

            <div class="form-row">
                <a style="text-align: center;background: linear-gradient(36deg, rgba(88,17,15,1) 0%, rgba(150,16,13,1) 59%, rgba(150,16,13,1) 100%);color:white" href="Javascript:void(0);" (click)="calcularIrs($event)" class="button circle block">Solicitar Cálculo</a>
            </div>

      </section>      

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

