	

  <div class="wrapper ">
      
    <div class="wrapper-inline" >
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

          <div style="margin:auto" align="center"> <img src="assets/img/thf.png" alt=""></div>
          <section class="container">
               
                <h4 class="title-main font-redlgc text-center">Asesores Patrimoniales Hipotecarios</h4>
                
                <div class="form-row-group with-icons">
                    <div class="form-divider"></div>
                    <div class="form-row no-padding escondido mensaje font-redlgc">
                        <p class="font-14 font-bold font-redlgc" style="text-align: justify ;">Somos Asesores Patrimoniales Hipotecarios® que buscamos

                            tu Consolidación Patrimonial a través de la recomendación
                            
                            del crédito hipotecario que mejor se adecua a tu perfil.</p><div class="form-divider"></div>
                         
                      
                    </div>
                    <div class="form-row no-padding escondido text-center mensaje font-redlgc" style="margin-bottom: 8px">
                            <p class="font-14 font-bold font-redlgc text-center" style="text-align: center ;"> Visita nuestro sitio web para mas información</p>
                         
                      
                    </div>
                    <div class="list-content  text-center">
                        <span class="font-14 font-bold font-redlgc text-center" align="center" style="text-align: center ;"> www.tuhipotecafacil.com </span>
                      
                    </div>
                    <div class="list-content  text-left">
                        <h4 class="text-left font-redlgc font-redlgc">Simulador de Crédito</h4>
                      
                    </div>
                    <div style="margin-bottom: 10px" class="form-row no-padding escondido mensaje font-redlgc">
                        <span class="font-14 font-bold font-redlgc" style="text-align: justify ;">Te dejamos un simulador aproximado que puede variar de acuerdo a tu perfil una vez analizada tu documentación.</span>
                     
                    </div>
                   <div class="form-row no-padding">
                      <i class="fa fa-money"></i>
                      <input type="text" name="valor_vivienda" id="valor_vivienda" class="form-element" placeholder="Valor de la Vivienda">
                    </div>
                    <div class="form-row no-padding">
                      <i class="fa fa-dollar"></i>
                      <input type="text" name="credito_deseado" id="credito_deseado" class="form-element" placeholder="Crédito Deseado">
                    </div>
                    <div class="form-row no-padding">
                        <i class="fa fa-calendar"></i>
                        <select id="plazo_credito" class="form-element">
                          <option value="">Plazo del Crédito</option>
                          <option value="10">10 años</option>
                          <option value="15">15 años</option>
                          <option value="20">20 años</option>
                      
                        </select>
                    </div>
                  
                    <div class="form-row no-padding">
                        <i class="fa fa-user"></i>
                        <input type="text" name="nombre_credito" id="nombre_asesoria" class="form-element" placeholder="Nombre Completo">
                    </div>
                    <div class="form-row no-padding">
                      <i class="fa fa-phone"></i>
                      <input type="text" name="telefono_credito" id="telefono_asesoria" class="form-element" placeholder="Teléfono">
                    </div>
                    <div class="form-row no-padding">
                      <i class="fa fa-envelope"></i>
                      <input type="text" name="email_credito" id="email_asesoria" class="form-element" placeholder="Email">
                    </div>
                    <br>
                   
                    <div class="form-divider escondido" style="display:none"></div>
                    <div class="form-row no-padding escondido" style="display:none">
                      <label for="">PLAZO DEL CRÉDITO: <span class="ingreso_minimo font-16 font-bold font-redlgc" [innerHTML]="plazo_credito"  ></span></label>
                    </div>
                  
                    <div class="form-row no-padding escondido" style="display:none">
                      <label for="">INGRESO MINIMO MENSUAL: <span class="ingreso_minimo font-16 font-bold font-redlgc" [innerHTML]="ingreso_min"  ></span></label>
                    </div>
                    <div class="form-row no-padding escondido" style="display:none">
                      <label for="">MENSUALIDAD: <span class="mensualidad font-16 font-bold font-redlgc"  [innerHTML]="mensualidad" ></span></label>
                    </div>
                    <div class="form-divider escondido" style="display:none"></div>
                    <div class="list-content  text-center">
                       
                            <p class="font-14 font-bold font-redlgc" style="text-align: center ;"> El crédito hipotecario hace tu futuro presente.</p>
                         
                    </div><br>
                </div>
           
                <div class="form-divider"></div>

                <div class="form-row">
                    <a style="text-align: center;background: linear-gradient(36deg, rgba(88,17,15,1) 0%, rgba(150,16,13,1) 59%, rgba(150,16,13,1) 100%);color:white" href="Javascript:void(0);" (click)="calcularCredito($event)" class="button circle block">Solicitar Asesoria</a>
                </div>

          </section>      
         

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

