	

  <div class="wrapper ">
      
      <div class="wrapper-inline" (scroll)="doSomethingOnScroll($event)">
					<app-menu></app-menu>
					<app-notifications ubic='login' bell={{bellHide}}></app-notifications>
        <!-- Page content start -->
        <main class="margin mt-0">
  
            <div class="dash-balance">
              <div class="dash-content relative">
                <h3 class="w-text">Login</h3>
               
              </div>
            </div>
         
            <section class="bal-section container">
            
              <!-- <img style="width: 100%;" class="bordesInferioresRedondeados" src="assets/img/magnoevento.png" alt=""> -->
               <swiper [config]="config">
                   <div class="swiper-wrapper">
                       <div class="swiper-slide">
                       <img src="{{slider1}}" />
                       </div>
                       <div class="swiper-slide">
                       <img src="{{slider2}}" />
                       </div>
                       <div class="swiper-slide">
                       <img src="{{slider3}}" />
                       </div>
                   
                   </div>
                   <!-- Add Pagination 
                   <div class="swiper-pagination"></div>
                   Add Arrows -->
                
               </swiper>
           </section>
          	<section class="container">
					
							
								<div class="form-divider"></div>
			
								<div class="form-row-group with-icons">
									<div class="form-row no-padding">
										<i class="fa fa-envelope"></i>
										<input type="email" name="aaa" id="name" class="form-element" placeholder="Username" required>
									</div>
									<div class="form-row no-padding">
										<i class="fa fa-lock"></i>
										<input type="password" name="aaa" id="clave"  class="form-element" placeholder="Password" required>
									</div>
								</div>
			
						
              
             
             
                <div class="form-divider"></div>
                <div class="form-row">
                    <a style="text-align: center;background: linear-gradient(36deg, rgba(88,17,15,1) 0%, rgba(150,16,13,1) 59%, rgba(150,16,13,1) 100%);color:white" href="Javascript:void(0);"  (click)="login()" class="button circle block">Iniciar Sesión</a>
                </div>
              
			
            
            </section><br>
         
       
  
            <app-footer></app-footer>
        </main>
        <!-- Page content end -->
      </div>
  </div>	

