	

  <div class="wrapper ">
      
      <div class="wrapper-inline" >
          <app-menu></app-menu>
          <app-quickmenu title="{{title}}"></app-quickmenu>
        <!-- Page content start -->
        <main class="margin mt-0">
  
            
            
           
          
            <div class="form-divider"></div>
            <div class="form-label-divider"><span class="font-redlgc">Protección Full</span></div>
            <div class="form-divider"></div>
  
  
            <div class="news-list-item no-image">
                <div class="list-content  text-center">
                    <h4 class="text-center font-black font-redlgc">SOLUCIONES</h4>
                  
                </div>
                <div class="list-content">
                  <span class="font-14 font-bold font-black">- Entrega y desocupacion del inmueble</span><br>
                
                </div>
                <div class="list-content">
                    <span class="font-14 font-bold font-black">INCLUYE:</span><br><br>
                    <p class="font-black"> 
                        <b>Investigación en 24 horas</b> (que nos asegura que el posible inquilino sea el idóneo para el propietario).
                    </p><br>
                    <p class="font-black"> 
                       Investigación de las Partes en Tribunales, Incidencias Legales, Antecedentes No Penales y Dictaminación Jurídica de Documentos.
                    </p><br>
                    <p class="font-black"> 
                       Investigación Arrendatario y Fiador en Buró de Crédito.
                    </p><br>
                    <p class="font-black"> 
                       Elaboración de Contrato de Arrendamiento.
                    </p><br>
                    <p class="font-black"> 
                       Asistencia de un Abogado en la Firma del Contrato de Arrendamiento.
                    </p><br>
                    <p class="font-black"> 
                       Cobranza Extrajudicial.
                    </p><br>
                    <p class="font-black"> 
                       Juicios Necesarios para Obtener, Entrega y Desocupación del Inmueble. Pago de Rentas. Pago de Servicios y Pago de Daños.
                    </p><br>
                    <p class="font-black"> 
                      Mediación entre Partes.
                    </p><br>
                    <p class="font-black"> 
                      Asesoria Legal Ilimitada Durante la Vigencia del Contrato de Arrendamiento.
                    </p>
                  </div>
            </div>
            <app-footer></app-footer>
        </main>
        <!-- Page content end -->
      </div>
  </div>	
  
  