	

  <div class="wrapper ">
      
    <div class="wrapper-inline" >
        <app-membersmenu></app-membersmenu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

          <div class="dash-balance">
            <div class="dash-content relative">
              <h3 class="w-text">Mis Alertas</h3>
             
            </div>
          </div>

          <section class="bal-section container">
              <div style="margin:auto" align="center"> <img src="assets/img/logo.png" alt=""></div>
           
         
          </section>
          <br>
          <section class="container text-left"  >
           
                
      
          
            <a href="Javascript:void(0);" routerLink="/members/alertas/agregar" class=" font-bold font-24"><b>+ <i class="fa fa-bell-o"></i></b></a>
               
               
             
          </section>
          <div class="form-divider"></div>
          <div class="form-divider"></div>
          <section class="container">
            <div class="content"> 
              <!-- <h4 class="title-main">Balance Split</h4> -->
         
              
              
              <div class="table-responsive">
                 <table datatable [dtOptions]="dtOptionss" class="row-border hover" id="alertas-tabla" style="width: 100% !important">
                    <thead>
                      <tr>
                    
                        <th class="th">Fecha</th>
                        <th class="th">Titulo</th>
                        <th class="th">Descripcion</th>
                        <th class="th"></th>
                     
                      </tr>
                    </thead>
                    <tbody *ngIf="alertas?.length != 0">
                        <tr id="dttr_{{ alerta.id }}" *ngFor="let alerta of alertas">
                      
                            <td class="td_{{ alerta.id }}">{{ alerta.fecha }}</td>
                            <td class="td_{{ alerta.id }}">{{ alerta.titulo }}</td>
                            <td class="td_{{ alerta.id }}">{{ alerta.descripcion }}</td>
                            <td class="td_{{ alerta.id }}"></td>
                       
                        </tr>
                    </tbody>
                    <tbody *ngIf="alertas?.length == 0">
                      <tr>
                        <td colspan="4" class="no-data-available">No data!</td>
                      </tr>
                    <tbody>
                  </table>
               
              </div>
           
          </div>
        </section>

          <section class="container">
              <div class="content"> 
                <!-- <h4 class="title-main">Balance Split</h4> -->
              <div class="c-panel">
                
                  <div class="form-row"  style="text-align: center">
          
                   
                      <a style="text-align: center" href="Javascript:void(0);" routerLink="/home" class="button circle inline red">Ir al Home</a> 
                  </div>
        
              </div>
            </div>
          </section>

     

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

