	

  <div class="wrapper ">
      
    <div class="wrapper-inline" >
        <!-- <app-membersmenu></app-membersmenu> -->
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

        
        
          <section class="container">
              
                <div class="form-divider"></div>
                <div class="form-label-divider"><span class="back font-redlgc">Agregar Alerta {{folio}}</span></div>
                <div class="form-divider"></div>
                <div *ngIf="folio">

                    Fecha de firma: {{fecha_firma}}
                </div>
                
             

                <h4 class="title-main">Fecha </h4>
                <div class="form-row-group with-icons">
                    <div class="form-row no-padding">
                        <i class="fa fa-calendar"></i>
                        <input type="date" style="width: 100%"  id="fecha_alert" name="fecha_alert" class="form-element" required [value]="fecha_firma">
                    </div>
                 
                </div>
                <h4 class="title-main">Hora (00:00 - 23:59)</h4>
                <div class="form-row-group with-icons">
                  <div class="form-row no-padding">
                          <i class="fa fa-clock-o"></i>
                          <input type="time" id="hora_alert" name="hora_alert" class="form-element" required value="">
                  </div>
                </div>
             
                <h4 class="title-main">Título</h4>
                <div class="form-row-group with-icons">
                    <div class="form-row no-padding">
                        <i class="fa fa-tag"></i>
                        <input type="text" id="titulo_alert" name="titulo_alert" class="form-element" required placeholder="Título" value="{{titleAlert}}">
                    </div>
                 
                </div>
               
                <h4 class="title-main">Descripción</h4>
                <div class="form-row-group with-icons">
                    <div class="form-row no-padding">
                        <i class="fa fa-comments"></i>
                        <textarea id="descripcion_alert" name="descripcion_alert" placeholder="Descripción" class="form-element" rows="10">{{contentAlert}}</textarea>
                      
                    </div>
                 
                </div>

             
          

                <div class="form-divider"></div>

                <div class="form-row">
                    <a style="text-align: center;background: linear-gradient(36deg, rgba(88,17,15,1) 0%, rgba(150,16,13,1) 59%, rgba(150,16,13,1) 100%);color:white" href="Javascript:void(0);" (click)="generarAlerta($event)" class="button circle block">OK</a>
                </div>

          </section>      
         

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

