	

  <div class="wrapper ">
      
    <div class="wrapper-inline" >
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

         
        
              
             
                
                  <div class="form-divider"></div>
                  <div class="form-label-divider"><span class="font-redlgc">Servicios</span></div>
                  <div class="form-divider"></div>
        
        
                  <div class="news-list-item no-image">
                      <div class="list-content text-center">
                          <span class="text-center font-bold font-black font-16">¡Llámanos!</span><br>
                          <span class="text-center font-bold font-black font-16">Asesoría y Consulta</span><br>
                          <span class="text-center font-bold font-black font-16">¡Sin Costo!</span>
                        
                      </div>
                      <div class="list-content text-center">
                        <span class="font-14 font-black">No te Arriesgues</span><br>
                        <span class="font-14 font-black">Consulta con los Expertos</span><br>
                      
                      </div><br>
                      <div class="form-label-divider-red"></div><br>
                      <div class="list-content text-center">
                        <span class="font-14 font-bold font-black">ÁREA FISCAL:</span><br><br>
                      </div>
                      <div class="list-content">
                          <span class="font-bold font-black font-bold">Calculo de ISR</span><br>
                          <span class="font-black ">Causado por la Compra-Venta de Bienes Inmuebles.</span><br>   
                      </div>
                      <div class="list-content">
                          <span class="font-bold font-black font-bold">Asesoría</span> 
                          <span class="font-black "> en el cobro correcto del ISR causado por Venta.</span><br>   
                      </div>
                      <div class="list-content">
                          <span class="font-bold font-black font-bold">Asesoría Fiscal y Contable</span> 
                          <span class="font-black "> para Empresas Inmobiliarias.</span><br>   
                      </div>
                      <div class="list-content">
                          <span class="font-bold font-black font-bold">Asesoría</span> 
                          <span class="font-black "> para la presentación de avisos Ley Anti-lavado.</span><br>   
                      </div>
                      <div class="list-content">
                            <span class="font-bold font-black font-bold">Software "ISR MEN"</span> 
                            <span class="font-black "> Cálculo de ISR con un solo clic.</span><br>   
                      </div><br>
                      <div class="form-label-divider-red"></div><br>
                      <div class="list-content text-center">
                        <span class="font-14 font-bold font-black">CRÉDITOS HIPOTECARIOS:</span><br>
                      </div>
                      <div class="list-content">                        
                          <span class="font-black ">Consulta con nuestros Asesores Hipotecarios, ¡Sin Costo!.</span><br>   
                      </div>
                      <div class="list-content">                        
                          <span class="font-black ">Tenemos Convenios con todos los Bancos.</span><br>   
                      </div>
                      <div class="list-content text-center">                        
                          <span class="font-black ">INFONAVIT - FOVISSSTE</span><br>   
                      </div>
                      <div class="list-content">                        
                          <span class="font-black ">Trámites Rápidos y una Excelente Atención.</span><br>   
                      </div><br>
                      <div class="form-label-divider-red"></div><br>
                      <div class="list-content text-center">
                        <span class="font-14 font-bold font-black">CAPACITACIÓN:</span><br>
                      </div>
                      <div class="list-content text-center">                        
                          <span class="font-black text-center">Contamos con los mejores conferencistas en el medio inmobiliario, consulta por nuestros temarios y cursos sin costo para tu empresa.</span><br>   
                      </div><br>
                      <div class="form-label-divider-red"></div><br>
                      <div class="list-content text-center">
                        <span class="font-14 font-bold font-black">ASESORÍA JURÍDICA INMOBILIARIA:</span><br>
                      </div>
                      <div class="list-content text-center">                        
                          <span class="font-black ">Asesoría de Primer Nivel brindada por nuestros Abogados Inmobiliarios en:</span><br>   
                      </div>
                      <div class="list-content">
                            <span class="font-bold font-black font-bold">Regularización de Contratos</span> 
                            <span class="font-black "> de arrendamiento o compra venta de inmuebles.</span><br>   
                      </div>
                      <div class="list-content">
                            <span class="font-bold font-black font-bold">Regularización de Inmuebles,</span> 
                            <span class="font-black "> usucapión, otorgamiento de escritura.</span><br>   
                      </div>
                      <div class="list-content">
                            <span class="font-bold font-black font-bold">Juicios Sucesorios</span> 
                            <span class="font-black "> testamentos e intestamento.</span><br>   
                      </div>
                      <div class="list-content">
                            <span class="font-bold font-black font-bold">Juicios de Controversia</span> 
                            <span class="font-black "> de arrendamiento ó desahucio.</span><br>   
                      </div><br>
                      <div class="form-label-divider-red"></div><br>
                      <div class="list-content text-center">
                        <span class="font-14 font-bold font-black">ARRENDAMIENTO:</span><br>
                      </div>
                      <div class="list-content text-center">                        
                          <span class="font-black ">Soluciones en Arrendamiento, que te permiten: </span><br>   
                      </div>
                      <div class="list-content">
                            <span class="font-bold font-black font-bold">Desocupación y Entrega de tu Inmueble</span> 
                      </div>
                      <div class="list-content">
                            <span class="font-bold font-black font-bold">Investigación Exhaustiva</span> 
                            <span class="font-black "> de quienes rentaran tu inmueble.</span><br>   
                      </div><br>
                      <div class="form-label-divider-red"></div><br>
                      <div class="list-content text-center">
                        <span class="font-14 font-bold font-black">SI ERES INMOBILIARIO, CONOCE LOS BENEFICIOS QUE TENEMOS PARA TI ¡LLÁMANOS! Y CONOCE POR QUÉ; SOMOS TU MEJOR OPCIÓN.</span><br><br>
                      </div>
                  </div>
               
                 

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

