	

  <div class="wrapper ">
      
    <div class="wrapper-inline" (scroll)="doSomethingOnScroll($event)">
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

          <div class="dash-balance">
            <div class="dash-content relative">
              <h3 class="w-text">Crédito Hipotecario</h3>
           
            </div>
          </div>

          <section class="bal-section container">
              <div style="margin:auto" align="center"> <img src="assets/img/logo.png" alt=""></div>
           
         
          </section>
       
        
     
        
          <div class="form-divider"></div>
          <div class="form-label-divider"><span>Asesores Hipotecarios</span></div>
          <div class="form-divider"></div>


          <div class="news-list-item no-image">
              <div class="list-content  text-center">
                  <h4 class="text-center font-black">TRABAJAMOS CON TODOS LOS BANCOS</h4>
                
              </div>
              <div class="list-content text-center">
                <span class="font-black text-center">Financial Global Consulting es nuestra Unidad destinada a ofrecer el servicio de Creditos Hipotecarios a 
                    las Empresas Inmobiliarias, Constructores y Particulares.
                </span><br>
              
              </div>
              <div class="list-content  text-center">
                  <h4 class="text-center font-black">SERVICIOS</h4>
                
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Créditos Hipotecarios</span><br>
                <span class="font-black text-center">En todas sus modalidades.
                </span>      
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Créditos Empresariales</span><br>
                <span class="font-black text-center">Naves Industriales.
                </span>
                <span class="font-black text-center">Terrenos Comerciales.
                </span>   
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Crédito para Terreno</span><br>                
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Arrendamiento</span><br>                
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Liquidez</span><br>                
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Pre Ventas</span><br>                
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Solicitud de Hipotecas</span><br>                
              </div>
              <div class="list-content text-center">
                <span class="font-black font-bold font-16 text-center">Propiedades Particulares</span><br> 
                <span class="font-black text-center">Con locales comerciales.
                    </span>               
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/banamex.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/banorte.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/santander.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/scotiabank.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/inbursa.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/afirme.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/infonavit.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/fovissste.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/infonavit2.png" alt="">          
              </div>
              <div class="list-content text-center">
                    <img src="assets/img/hsbc.png" alt="">          
              </div>
        
         </div>
       
         

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

