	

  <div class="wrapper ">
      
    <div class="wrapper-inline" >
        <app-menu></app-menu>
        <app-quickmenu title="{{title}}"></app-quickmenu>
      <!-- Page content start -->
      <main class="margin mt-0">

          <!-- <div class="dash-balance">
            <div class="dash-content relative">
              <h3 class="w-text">Noticia {{noticia}}</h3>
           
            </div>
          </div> -->
          <div class="form-divider"></div>
         
         
          <div class="news-list-item no-image">
              <div class="list-content  text-center">
                  <h4 class="text-center font-black"  [innerHTML]="titulo"></h4>
              </div>
              <div class="list-content  text-center">
                  <img src="{{image}}" alt="">
              </div>
              <div class="list-content font-16" [innerHTML]="contenido" >
                 
              </div>
             
          </div>
          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

