	

  <div class="wrapper ">
      
    <div class="wrapper-inline" (scroll)="doSomethingOnScroll($event)">
        <app-menu></app-menu>
        <app-notifications></app-notifications>
      <!-- Page content start -->
      <main class="margin mt-0">

          <div class="dash-balance">
            <div class="dash-content relative">
              <h3 class="w-text">Mis Contratos</h3>
             
            </div>
          </div>

          <section class="bal-section container">
              <div style="margin:auto" align="center"> <img src="assets/img/logo.png" alt=""></div><br>
           
         
          </section>
          <section class="bal-section container">
					
            <div class="resources-card-wrapper">
                <div class="wallet-card mr-10 round">
                    <div class="flex-column flex-md-row">
                    
                      <h1 class="w-text">57</h1>
                      <p class="g-text mb-0 font-weight-medium">Protecciones </p>
                    </div>
                </div>
      
                <div class="wallet-card ml-10 lgcGradiente">
                    <div class="flex-column flex-md-row">
                   
                      <h1 class="w-text">4</h1>
                      <p class="g-text mb-0 font-weight-medium">Renovaciones</p>
                    </div>
                </div>
            </div>
          
          </section><br>
        
          <section class="container">
              <div class="content"> 
                <!-- <h4 class="title-main">Balance Split</h4> -->
              <div class="c-panel">
                
                  <div class="form-row"  style="text-align: center">
          
                      <a style="text-align: center" href="Javascript:void(0);" (click)="logout()" class="button circle inline green">Cerrar Sesion</a> | 
                      <a style="text-align: center" href="Javascript:void(0);" routerLink="/home" class="button circle inline red">Ir al Home</a> 
                  </div>
        
              </div>
            </div>
          </section>

     

          <app-footer></app-footer>
      </main>
      <!-- Page content end -->
    </div>
</div>	

