	


  <div class="wrapper ">
      
      <div class="wrapper-inline" id="content-wapper" (scroll)="doSomethingOnScroll($event)">
     
          <app-menu></app-menu>
           <!-- Header area start -->
        
          <app-notifications  lugar="{{lugar}}" urlAlertas='{{urlAlertas}}'></app-notifications>
   
        <!-- Page content start -->
        <main class="margin mt-0">
  
            <div class="dash-balance">
              <div class="dash-content relative">
                <h3 class="w-text">Home</h3>
              
              </div>
            </div>
  
            <section class="bal-section container">
            
               <!-- <img style="width: 100%;" class="bordesInferioresRedondeados" src="assets/img/magnoevento.png" alt=""> -->
                <swiper [config]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                        <img src="{{slider1}}" />
                        </div>
                        <div class="swiper-slide">
                        <img src="{{slider2}}" />
                        </div>
                        <div class="swiper-slide">
                        <img src="{{slider3}}" />
                        </div>
                    
                    </div>
                    <!-- Add Pagination 
                    <div class="swiper-pagination"></div>
                    Add Arrows -->
                 
                </swiper>
            </section>
              <!--
            <section class="container">
                <div class="content"> 
                 <h4 class="title-main">Balance Split</h4> 
                <div class="c-panel">
                    
                    <div class="form-row"  style="text-align: center">
            
                
                        <a style="text-align: center" href="Javascript:void(0);" (click)="simpleNotif()" class="button circle inline red">notif</a> 
                    </div>
            
                </div>
                </div>
            </section>-->
            <div class="form-divider"></div>
            <section class="container">
                <div class="content"> 
                  <!-- <h4 class="title-main">Balance Split</h4> -->
                <div class="c-panel bordesRedondeados">
                  
                    <div class="row align-items-center">
                        <div class="col-4 col-sm-4" routerLink="/calcular-proteccion">
                                <div class="split-list text-center">
                                    <span style="font-size:42px" class="fa fa-calculator"></span>
                                    <a href="javascript:void(0);"><h6 style="font-size:15px" class="info-label">Calcular Protección </h6></a>
                                </div>
                            </div>
                        <!-- <div class="col-4 col-sm-4 ">
                        
                            <div class="split-list text-center">
                                <span style="font-size:30px" class="fa fa-headphones" routerLink="/directo"></span>
                                <a href="javascript:void(0);" routerLink="/directo"><h6 style="font-size:12px" class="info-label">LGC - Directo</h6></a>
                            </div>
                        </div> -->
                        <div class="col-4 col-sm-4 verEnlogOut" style="display:none" routerLink="/login" >
                            <div class="split-list text-center">
                                <span style="font-size:42px" class="fa fa-dashboard"></span>
                                <a href="javascript:void(0);"><h6 style="font-size:15px" class="info-label">Mis Contratos</h6></a>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4 ocultaEnlogOut" [(routerLink)]="ruta" >
                            <div class="split-list text-center">
                                <span style="font-size:42px" class="fa fa-dashboard"></span>
                                <a href="javascript:void(0);"><h6 style="font-size:15px" class="info-label">Mis Contratos</h6></a>
                            </div>
                        </div>
                        <!-- <div class="col-4 col-sm-4">
                            <div class="split-list text-center">
                                <span style="font-size:30px" class="fa fa-expeditedssl" routerLink="/proteccion-total"></span>
                                <a href="javascript:void(0);" routerLink="/proteccion-total"><h6 style="font-size:12px" class="info-label">Protección Total</h6></a>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div class="split-list text-center">
                                <span style="font-size:30px" class="fa fa-file-text-o" routerLink="/proteccion-basica"></span>
                                <a href="javascript:void(0);" routerLink="/proteccion-basica"><h6 style="font-size:12px" class="info-label">Protección Básica</h6></a>
                            </div>
                        </div> -->
                        <div class="col-4 col-sm-4" [(routerLink)]="ruta2">
                            <div class="split-list text-center">
                                <span style="font-size:42px" class="fa fa-handshake-o" ></span>
                                <a href="javascript:void(0);" ><h6 style="font-size:15px" class="info-label">Solicitar Protección</h6></a>
                            </div>
                        </div>
                        <!-- <div class="col-4 col-sm-4">
                            <div class="split-list text-center">
                                <span style="font-size:30px" class="fa fa-home" routerLink="/credito-hipotecario"></span>
                                <a href="javascript:void(0);" routerLink="/credito-hipotecario"><h6 style="font-size:12px" class="info-label">Crédito Hipotecario</h6></a>
                            </div>
                        </div> -->
                        <div class="col-4 col-sm-4" routerLink="/calcular-credito">
                            <div class="split-list text-center">
                                <span style="font-size:42px" class="fa fa-money" ></span>
                                <a href="javascript:void(0);" ><h6 style="font-size:15px" class="info-label">Tu Hipoteca Fácil</h6></a>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4" routerLink="/calcular-irs">
                            <div class="split-list text-center">
                                <span style="font-size:42px" class="fa fa-table" ></span>
                                <a href="javascript:void(0);" ><h6 style="font-size:15px" class="info-label">Calcular IRS</h6></a>
                            </div>
                        </div>
                    <!--     <div class="col-4 col-sm-4">
                          <div class="split-list text-center">
                              <span style="font-size:30px" class="fa fa-gears" routerLink="/servicios"></span>
                              <a href="javascript:void(0);" routerLink="/servicios"><h6 style="font-size:12px" class="info-label">Servicios LGC</h6></a>
                          </div>
                        </div>
                        <div class="col-4 col-sm-4">
                          <div class="split-list text-center">
                              <span style="font-size:30px" class="fa fa-globe"></span>
                              <a target="_blank" href="https://www.legalglobalconsulting.com"><h6 style="font-size:12px" class="info-label">Sitio Web LGC</h6></a>
                          </div>
                        </div>
                      <div class="col-4 col-sm-4">
                          <div class="split-list text-center">
                              <span style="font-size:30px" class="fa fa-inbox"  routerLink="/sugerencias"></span>
                              <a href="javascript:void(0);" routerLink="/sugerencias"><h6 style="font-size:12px" class="info-label">Buzón de Sugerencias</h6></a>
                          </div>
                        </div> -->
                        <div class="col-4 col-sm-4" routerLink="/contacto">
                            <div class="split-list text-center" >
                                <span style="font-size:42px" class="fa fa-whatsapp" ></span>
                                <a href="javascript:void(0);" ><h6 style="font-size:15px" class="info-label">Contacto</h6></a>
                            </div>
                          </div>
                      
                    </div>     
                </div>
              </div>
            </section>
          
         
            <app-noticias></app-noticias>
            <app-footer></app-footer>
        </main>
        <!-- Page content end -->
      </div>
  </div>