	


  <div class="wrapper ">
      
      <div class="wrapper-inline" (scroll)="doSomethingOnScroll($event)">
     
          <app-menu></app-menu>
           <!-- Header area start -->
        
          <app-notifications lugar="{{lugar}}"></app-notifications>
   
        <!-- Page content start -->
        <main class="margin mt-0">
  
            <div class="dash-balance">
              <div class="dash-content relative">
                <h3 class="w-text">Home</h3>
              
              </div>
            </div>
  
            <section class="bal-section container">
            
                <img style="width: 100%;" class="bordesInferioresRedondeados" src="assets/img/magnoevento.png" alt="">
             
           
            </section>
          
          
            <section class="container">
                <div class="content"> 
                  <!-- <h4 class="title-main">Balance Split</h4> -->
                <div class="c-panel">
                  
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-4">
                            <div class="split-list text-center">
                                <span style="font-size:30px" class="fa fa-calculator"></span>
                                <a href="javascript:void(0);" routerLink="/calcular-proteccion"><h6 style="font-size:12px" class="info-label">Calcular Protección </h6></a>
                            </div>
                          </div>
                      <div class="col-4 col-sm-4 ">
                      
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-headphones"></span>
                            <a href="javascript:void(0);" routerLink="/directo"><h6 style="font-size:12px" class="info-label">LGC - Directo</h6></a>
                        </div>
                      </div>
                    
                      <div class="col-4 col-sm-4">
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-shield"></span>
                            <a href="javascript:void(0);" [(routerLink)]="ruta"><h6 style="font-size:12px" class="info-label">Mis Contratos</h6></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4">
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-expeditedssl"></span>
                            <a href="javascript:void(0);" routerLink="/proteccion-total"><h6 style="font-size:12px" class="info-label">Protección Total</h6></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4">
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-file-text-o"></span>
                            <a href="javascript:void(0);" routerLink="/proteccion-basica"><h6 style="font-size:12px" class="info-label">Protección Básica</h6></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4">
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-edit"></span>
                            <a href="javascript:void(0);" routerLink="/solicitar-contrato"><h6 style="font-size:12px" class="info-label">Solicitar Contrato</h6></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4">
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-home"></span>
                            <a href="javascript:void(0);" routerLink="/credito-hipotecario"><h6 style="font-size:12px" class="info-label">Crédito Hipotecario</h6></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4">
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-money"></span>
                            <a href="javascript:void(0);" routerLink="/calcular-credito"><h6 style="font-size:12px" class="info-label">Calcular Crédito</h6></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4">
                        <div class="split-list text-center">
                            <span style="font-size:30px" class="fa fa-table"></span>
                            <a href="javascript:void(0);" routerLink="/calcular-irs"><h6 style="font-size:12px" class="info-label">Calcular IRS</h6></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4">
                          <div class="split-list text-center">
                              <span style="font-size:30px" class="fa fa-gears"></span>
                              <a href="javascript:void(0);" routerLink="/servicios"><h6 style="font-size:12px" class="info-label">Servicios LGC</h6></a>
                          </div>
                        </div>
                        <div class="col-4 col-sm-4">
                          <div class="split-list text-center">
                              <span style="font-size:30px" class="fa fa-globe"></span>
                              <a target="_blank" href="https://www.legalglobalconsulting.com"><h6 style="font-size:12px" class="info-label">Sitio Web LGC</h6></a>
                          </div>
                        </div>
                        <div class="col-4 col-sm-4">
                          <div class="split-list text-center">
                              <span style="font-size:30px" class="fa fa-inbox"></span>
                              <a href="javascript:void(0);" routerLink="/sugerencias"><h6 style="font-size:12px" class="info-label">Buzón de Sugerencias</h6></a>
                          </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div class="split-list text-center">
                                <span style="font-size:30px" class="fa fa-whatsapp"></span>
                                <a href="javascript:void(0);" routerLink="/contacto"><h6 style="font-size:12px" class="info-label">Contacto</h6></a>
                            </div>
                          </div>
                      
                    </div>     
                </div>
              </div>
            </section>
  
         
            <app-noticias></app-noticias>
            <app-footer></app-footer>
        </main>
        <!-- Page content end -->
      </div>
  </div>