<header id="contieneBack" class="no-background"> <!-- extra class no-background -->
  <div *ngIf="!lugar&&!place">
      <a class="go-back-link" href="Javascript:void(0);" routerLink="/home"><i class="fa fa-arrow-left"></i></a>

  </div>
    <div *ngIf="place">
        <a class="go-back-link" href="javascript:history.back();" ><i class="fa fa-arrow-left"></i></a>
        

  </div>

 
  <div *ngIf="!bell" class="search-button" data-search="open">
    <img src="assets/img/content/notification1.png" class="not-icon1" alt="">
    <img src="assets/img/content/notification2.png" class="not-icon2" alt="">
    
  </div>
  <div *ngIf="!bell&&lugar!='home'" class="search-button" >
   -
  </div>
  <div *ngIf="!bell&&lugar!='home'" class="search-button" >
      <img src="assets/img/content/alarm1.png" [(routerLink)]="urlAlertas" class="not-icon1" alt="">
      <img src="assets/img/content/alarm2.png" [(routerLink)]="urlAlertas" class="not-icon2" alt="">
  </div>
  <div class="navi-menu-button" (click)="onClk($event)">
    <em></em>
    <em></em>
    <em></em>
  </div>

</header>
<!-- Header area end -->

<!--NOTIFICATION BOX CONTENT START-->
<div class="search-form"  >
  <span class="close-search-form" data-search="close"><i class="fa fa-times"></i> </span>
  <form>
    <div class="search-input">
     <br>
    </div>
  </form>
    <ul class="notification-list list-unstyled">
   
    <li class="sombra-baja" *ngFor="let notificacion of notificaciones" routerLink="/notificacion/{{notificacion.id}}">
   
        <div class="d-flex align-items-center justify-content-between" >
          <div class="d-flex align-items-center">
            
            <div class="ml-10">
              <h4 class="font-16 font-redlgc font-bold">{{notificacion.title}}</h4>
              <div class="form-mini-divider"></div>
              <span  class="font-14 ">{{notificacion.body}}</span>
            </div>
          </div>
        
        </div>
      <small style="float:right" class="font-redlgc font-10">{{notificacion.fecha}}</small>
      <div  class="form-mini-divider"></div>
    </li>

    <li class="sombra-baja" >
      <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <a href="javascript:void(0)" routerLink="/notificaciones" class="text-muted">Leer todas las notificaciones</a>
          </div>
      </div>
    </li>
    
  </ul>
</div>
<!--NOTIFICATION BOX CONTENT END-->
